.contacts {
  &__wrapper {
    @include flex-column;

    gap: 48px;

    @include on-tablet {
      @include page-grid;
    }

    &--left {
      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desctop {
        grid-column: span 5;
      }
    }

    &--right {
      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desctop {
        grid-column: 8 / 11;
      }
    }
  }

  &__links {
    @include flex-column;

    gap: 24px;
  }

  &__item {
    @include flex-column;

    gap: 8px;
  }

  &__link {
    font-weight: 500;
    font-size: $primary-font-size;
    color: $main-text-color;
    text-decoration: none;
    cursor: pointer;
    transition: color $effect-duration;

    &:hover {
      color: $link-color;
    }
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
  }
}
